.initial-text-container {
  width: 55%;
  padding: 30px 0px;
  transform: translateY(50px);
  opacity: 0;
  animation: slide-up 0.6s ease-out forwards;
}

.page-title {
  font-size: 2.8rem;
  font-weight: 400;
  color: #233e32;
  line-height: 1.25;
  font-family: "Alice";
}

.initial-text-paragraph {
  color: #2c2821;
  margin-top: 27px;
  font-size: 1.125rem;
  line-height: 1.6;
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .initial-text-container {
    width: 100%;
  }

  .page-title {
    font-size: 2rem;
    text-align: left;
  }

  .initial-text-paragraph {
    font-size: 1rem;
  }
}