.header-container {
  height: 15vh;
  background-color: #233e32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header-title {
  font-size: 2rem;
  color: #fcfbf8;
}

.navigation {
  width: 40vw;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

a {
  color: #fcfbf8;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
}
